@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

td {
  border: 1px solid black;
  padding: 5px;
}

thead {
  background: #ccc;
}

select {
  width: 100%;
  font-size: 14px;
  padding: 4px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
}

p {
  font-size: 14px;  
}

.loading {
  font-weight: bold;
}

.screenreader {
  overflow: hidden;
  height: 0;
  text-indent: -50000px;
}

.app {
  width: 600px;
  margin: 5% auto;
}

.slider .MuiSlider-root {
  color: #000;
}

.slider .MuiSlider-thumb:hover,
.slider .MuiSlider-thumb.Mui-focusVisible {
  box-shadow: 0px 0px 0px 8px rgb(0, 0,0,0.1);
}


.slider .MuiSlider-thumb.MuiSlider-active {
  box-shadow: 0px 0px 0px 12px rgb(0, 0,0,0.1);
}